@use "../../styles/variables.scss" as *;

.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.12px;

  & button:not(:disabled, .active) {
    color: $pagination-color;
  }
}
