/* Text colors */
$heading-color: #000000;
$sub-heading-color: #16c098;
$accent-color: #ffffff;

$text-color: #292d32;
$secondary-color: #b5b7c0;
$navigation-color: #9197b3;
$pagination-color: #404b52;
$sub-color: #838383;
$profile-color: #757575;
$search-icon-color: #7e7e7e;

$status-active-color: #008767;
$status-inctive-color: #df0404;

/* Background colors */
$bg-color: #fafbff;
$container-bg-color: #ffffff;
$input-bg-color: #f9fbff;
$accent-bg-color: #5932ea;
$pagination-bg-color: #f5f5f5;
$status-active-bg-color: rgba(22, 192, 152, 0.38);
$status-inactive-bg-color: #ffc5c5;

/* Borders */
$border: 1px solid #eee;
$accent-border: 1px solid #5932ea;
$status-border-active: 1px solid #00b087;
$status-border-inactive: 1px solid #df0404;

/* Shadows */
$sidemenu-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
$container-filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
