@use "../../styles/variables.scss" as *;

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 36px 28px 76px;
  min-height: 100vh;
  background-color: $container-bg-color;
  box-shadow: $sidemenu-shadow;
  position: relative;

  &__logo {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 8px;
    margin-bottom: 53px;

    &--title {
      font-size: 26px;
      font-weight: 600;
      letter-spacing: 0.26px;
    }

    &--text {
      margin-left: 4px;
      color: $sub-color;
      font-size: 10px;
      letter-spacing: -0.1px;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    width: fit-content;

    &--picture {
      border-radius: 42px;
      margin-right: 12px;
    }

    & #name {
      letter-spacing: 0.14px;
    }

    & #job-title {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.12px;
      color: $profile-color;
    }
  }
  @media screen and (max-width: 767px) {
    display: none;
  }

  &__collaps {
    padding: 12px;
    position: absolute;
    right: -6px;
    top: 44px;
    background-color: $container-bg-color;
    border-radius: 50%;
    border: 1px solid $navigation-color;
    cursor: pointer;

    & svg {
      display: block;
    }
    transition: transform 350ms ease-out;
  }
}

.rotate {
  transform: rotate(180deg);
}
